.order_list_lb {
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
}

#startDate {
    margin-left: 10px;
}

.hasDatepicker {
    font-size: 12px;
    display: inline-block;
    width: 120px;
    height: 28px;
}

#selectState {
    font-size: 12px;
    display: inline-block;
    width: 130px;
    height: auto;
    margin-left: 10px;
}

.getOrderList {
    margin-left: 10px;
    background-color: black;
	color: white;
}

.m-order_list {
    margin-bottom: 150px;
}

.order_list_cri {
    margin-bottom: 15px;
}

.order_list_tbl {
    font-size: 12px;
}

.order_list_tbl thead tr {
    font-size: 13px;
    border-top: 1px solid black;
    text-align: center;
}

.empty_orderList {
	text-align: center;
}

.prod_info {
    text-align: left;
}

.prod_name {
    font-weight: bold;
}

.prod_option {
	color: gray;
}

.order_list_tbl tbody tr {
    border-bottom: solid 0.5px #DDE4EB;
    text-align: center;
}

.order_list_tbl tbody tr td {
    vertical-align: middle;
}

.prod_file_path {
    width: 80px;
    height: auto;
}

/* pagination */
.l_pagination {
    text-align: center;
}

.pagination > li > a
{
    background-color: white;
    color: black;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: black !Important;
    border: solid 1px black !Important;
}

.pagination > .active > a:hover
{
    background-color: black !Important;
    border: solid 1px black;
}

/* 교환 요청 모딜 Start */
.modal-header p {
	font-size: 14px;
	font-weight: bold;
}

.modal_prod_img {
	width: 80px;
	height: auto;
}

.modal_prod_name {
	font-size: 12px;
	font-weight: bold;
}

.modal_prod_option,
.modal_prod_quantity {
	font-size: 12px;
	color: gray;
}

.modal_change_order {
	margin-top: 10px;
	font-size: 12px;
	font-weight: bold;
}

.modal_select {
	margin-bottom: 10px;
	height: 30px;
	font-size: 12px;
}

.modal-footer row {
	text-align: cneter;
}

.exchangeReqBtn {
	background-color: black;
	color: white;
}
/* 교환 요청 모딜 End */

/* 리뷰 모달 Start  */
.body-row {
	font-size: 13px;
}

.review_prod {
	margin-bottom: 20px;
}

.review_prod_img {
	width: 80px;
	height: auto;
}

.review_prod_name {
	font-weight: bold;
}

.review_prod_option {
	color: gray;
}

.starLabel {
	padding-top: 10px;
	margin-bottom: 25px;
}

.starR {
  background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
  background-size: auto 100%;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-indent: -9999px;
  cursor: pointer;
}

.starR.on {
	background-position:0 0;
}

.reviewLabel {
	margin-bottom: 20px;
}

.review_title {
	height: 30px;
	margin-bottom: 20px;
}

.review_regist {
	background-color: black;
	color: white;
}

.modal-footer {
	text-align: center;
}

/* 리뷰 모달 End  */












