.info-title {
    font-size: 12px;
    color:  #AE0707;
}

.info-content {
    font-size: 12px;
}

.select-option {
    width: 200px;
}

.ft-size-12 {
    font-size: 12px;
}

.prod-option {
    margin-bottom: 8px;
    width: 240px;
    height: 30px;
}

.btn-lg {
    font-size: 14px;
    width: 130px;
    height: 60px;
}

.btn-buy {
    background-color: black; 
    color: white;
}

.btn-buy:hover {
    background-color: white;
    color: black;
}

.product_image {
    text-align: center;
}

.prod-info-list {
    text-align: center;
}

.prod-img {
    margin-bottom: 20px;
}

.prod-info-list li {
    font-size: 13px;
    list-style: none;
    display: inline;
    margin-right: 25px;
}

.review-header p {
    font-size: 20px;
    margin-bottom: 40px;
}

.review-header ul {
    padding: 0;
}

.review-header li {
    list-style: none;
    display: inline;
    font-size: 12px;
    margin-right: 25px;
}

.review-body {
    border: 0.5px #7F858A solid;
}

.review-body p {
    font-size: 14px;
    margin-top: 20px;
}

.review-date {
    color: #7F858A;
    font-size: 13px;
}

.review-grade {
    color: #7F858A;
    font-size: 13px;
}

.review-body div img {
    width: 50px;
    height: 50px;
}

.review-body-prod-name {
    font-size: 12px;
}

.review-title p {
    font-size: 14px;
    font-weight: bold;
}

.review-content p {
    font-size: 12px;
    margin-bottom: 10px;
}

.review-like {
    text-align: center;
    margin-bottom: 20px;
}

.review-reply {
    margin-bottom: 20px;
}

.qna-header {
    margin-top: 70px;
}

.qna-header p {
    font-size: 20px;
    margin-bottom: 40px;
}

.qna-body table {
    font-size: 12px;
}

/* 상품 옵션 선택 및 추가 Start */
.add-pro-name {
    font-size: 12px;
    font-weight: bold;
}

.add-pro-option {
    font-size: 12px;
}

.add-cancel {
    width: 20px;
    height: 20px;
}

.quantity {
    width: 40px;
    height: 20px;
}

.add-pro-quantity {
    text-align: right;
}

.add-pro-price {
    font-size: 12px;
    font-weight: bold;
    text-align: right;
}
/* 상품 옵션 선택 및 추가 End */

#sortReview li:hover {
	cursor: pointer;
	color: #B5B3AD;
}

#sortReview li:active {
	cursor: pointer;
	color: #B5B3AD;
	font-weight: bold;
}

#sortReview li.on {
	font-weight: bold;
	color: #FCBF1B;
}

/* 리뷰 더보기 버튼 */
.more-review {
	margin-top: 30px;
	text-align: center;
}







