<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="AdminMapper">
	
	<resultMap type="HighCateVO" id="highCateVo">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="kname" property="kname" />
	</resultMap>
	
	<resultMap type="LowCateVO" id="lowCateVo">
		<result column="code" property="code" />
		<result column="high_code" property="high_code" />
		<result column="name" property="name" />
	</resultMap>
	
	<resultMap type="MemberVO" id="memberResultMap">
		<result column="rownum" property="rownum" />
		<result column="id" property="id" />
		<result column="password" property="password" />
		<result column="pwd_confirm_q" property="pwd_confirm_q" />
		<result column="pwd_confirm_a" property="pwd_confirm_a" />
		<result column="name" property="name" />
		<result column="zipcode" property="zipcode" />
		<result column="address1" property="address1" />
		<result column="address2" property="address2" />
		<result column="tel" property="tel" />
		<result column="phone" property="phone" />
		<result column="email" property="email" />
		<result column="birth" property="birth" />
		<result column="lev" property="level" typeHandler="LevelEnumTypeHandler" />
		<result column="point" property="point" />
		<result column="total" property="total" />
		<result column="join_date" property="join_date" />
	</resultMap>
	
	<select id="getPrantCategory" resultMap="highCateVo">
		SELECT 
		  code, name, kname
		FROM 
		  tbl_high_cate
		ORDER BY code ASC	
	</select>
	
	<insert id="saveParentsCategory"> 
		MERGE INTO tbl_high_cate
            USING DUAL
            ON (code = #{code})
            WHEN MATCHED THEN
                      UPDATE SET
                            name = #{name},
                            kname = #{kname}
            WHEN NOT MATCHED THEN
                      INSERT (code, name, kname) 
                                 VALUES (#{code}, #{name}, #{kname} )
	</insert>
	
	<delete id="deleteParentsCategory" parameterType="java.util.ArrayList">
		DELETE FROM tbl_high_cate WHERE code IN
		<foreach collection="list" item="codes" index="index" open="(" close=")" separator=",">
            ${codes}
        </foreach>
	</delete>
	
		
	<select id="getChildCategory" resultMap="lowCateVo">
		SELECT 
		  code, high_code, name
		FROM 
		  tbl_low_cate
		WHERE 
		  high_code = #{highCode}  
		ORDER BY code ASC	
	</select>
	
	<insert id="saveChildCategory"> 
		MERGE INTO tbl_low_cate
            USING DUAL
            ON (code = #{code})
            WHEN MATCHED THEN
                      UPDATE SET
                            name = #{name}
            WHEN NOT MATCHED THEN
                      INSERT (code, name, high_code) 
                                 VALUES (#{code}, #{name}, #{high_code} )
	</insert>
	
	<delete id="deleteChildCategory" parameterType="java.util.ArrayList">
		DELETE FROM tbl_low_cate WHERE code IN
		<foreach collection="list" item="codes" index="index" open="(" close=")" separator=",">
            ${codes}
        </foreach>
	</delete>
	
	<select id="getHighCate" parameterType="int" resultType = "String">
		select name from tbl_high_cate
			where code = #{code}
	</select>
	
	<select id="getLowCate" parameterType="int" resultType="String">
		select name from tbl_low_cate
			where code = #{code}
	</select>   
	
	<select id="getHighCateCode" parameterType="String" resultType = "int">
		select code from tbl_high_cate
			where name like '%'||#{keyword}||'%'
				or kname like '%'||#{keyword}||'%'
	</select>
	
	<select id="getLowCateCode" parameterType="String" resultType = "int">
		select code from tbl_low_cate
			where name like '%'||#{keyword}||'%'
	</select>
	
	<select id="getUser" parameterType="map" resultMap="memberResultMap">
		SELECT 
		 rownum, id, name,	phone, email, lev 
		FROM
		  tbl_member
		WHERE 1 = 1
		<if test='searchValue != "" and searchType == "id"'>
		  AND id = #{searchValue}
		</if>
		<if test='searchValue != "" and searchType == "name"'>
		  AND name = #{searchValue}
		</if>
		<if test='commValue != "" and commType == "tel"'>
		  AND tel = #{commValue}
		</if>
		<if test='commValue != "" and commType == "phone"'>
		  AND phone = #{commValue}
		</if>
		<if test='searchEmail != ""'>
		  AND email = #{searchEmail}
		</if>
		<if test='levelType != "all"'>
		  AND lev = #{levelType}
		</if>
		ORDER BY join_date, rownum desc
	</select>
	
	<select id="getUserDetail" parameterType="String" resultMap="memberResultMap">
		SELECT
		  id, 
		  password, 
		  pwd_confirm_q, 
		  pwd_confirm_a, 
		  name,
		  zipcode,
		  address1,
		  address2, 
		  tel,
		  phone,
		  email, 
		  birth, 
		  lev, 
		  point, 
		  total, 
		  join_date
	    FROM
		  tbl_member
	    WHERE
		  id = #{id}
	</select>
	
</mapper>
