<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	
	<!-- 게시판 글 작성 -->
	<insert id = "insert_NOTICE">
		INSERT INTO TBL_NOTICE(	NO,MEMBER_NO,TITLE,CONTENT,REG_DATE,HIT,FILE_PATH,FILE_NAME)
		VALUES(seq_notice_no.nextval,#{member_no},#{title},#{content},#{reg_date},#{hit},#{file_path},#{file_name})			
	</insert>
	
	
	
	<insert id = "insert_REVIEW">
		INSERT INTO TBL_REVIEW(NO,MEMBER_NO,TITLE,CONTENT,REG_DATE,HIT,FILE_PATH,FILE_NAME,PRODUCT_CODE,RECOMMEND)
		VALUES(seq_review_no.nextval,#{member_no},#{title},#{content},#{reg_date},#{hit},#{file_path},#{file_name},#{product_code},#{recommend})
	</insert>
	
	
	
	
	
	
</mapper>