<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.moseory.mapper.HomeMapper">
	
	<select id="getProductSaleCount" resultType="productVO">
	<![CDATA[
	SELECT
    	*
	FROM
	    (SELECT
	        p.*, pf.*
	    FROM
	        tbl_product p, tbl_product_file pf
	    WHERE
	        p.code = pf.product_code
	    ORDER BY
	        p.sale_count desc)
	WHERE
	    rownum <= 3
    ]]>
	</select>
	
	
	<select id="getProductNew" resultType="productVO">
	<![CDATA[
	SELECT
   		*
	FROM
	    (SELECT
	        p.*, pf.*
	    FROM
	        tbl_product p, tbl_product_file pf
	    WHERE
	        p.code = pf.product_code
	    ORDER BY code desc)
	WHERE
	    rownum <= 60
   	]]>
	</select>
	
	<select id="getHighCate" resultType="HighCateVO">
	SELECT
		code, name, kname
	FROM
		tbl_high_cate
	ORDER BY code ASC
	</select>
	
</mapper>























