<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.moseory.mapper.MemberMapper">
	
	<insert id="insertMember">
	insert into tbl_member (no, id, password, pwd_confirm_q, pwd_confirm_a , name, email)
	values (seq_member_no.nextval, #{id}, #{password}, #{pwd_confirm_q}, #{pwd_confirm_a}, #{name}, #{email})
	</insert>
	
	<delete id="deleteAll">
	delete from tbl_member
	</delete>
	
	<select id="getCount" resultType="int">
	select count(*) from tbl_member
	</select>
	
	<select id="loginProc" parameterType="map" resultType="com.moseory.domain.MemberVO">
		SELECT 
		  id, name, email, phone
		FROM 
		  tbl_member
		WHERE 1 = 1 
		  AND id = #{inputId}
		  AND password = #{inputPassword} 
	</select>
	
	<select id="findIdProc" parameterType="map" resultType="map">
		SELECT 
		  id,join_date
		FROM 
		  tbl_member
		WHERE 
		<if test='findType == "email"'>
		 email = #{email}
		</if>
		<if test='findType == "phone"'>
		 phone = #{phone}
		</if>
		 AND name =#{name}
	</select>
	
</mapper>