<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moseory.mapper.NoticeMapper">
	<!-- mapper 의 이름 -->

	<!-- 게시판 글 작성 -->
	<insert id="insert">
		insert into tbl_notice(no,title,content)
		values(SEQ_NOTICE_NO.nextval,#{title},#{content})
	</insert>

	<!-- 게시글 상세 보기 조회 -->
	<select id="select" parameterType="int"
		resultType="NoticeVO">
		select * from tbl_notice where no = #{no}
	</select>

	<!-- 게시글 조회수 증가 처리 -->
	<update id="hit">
		update tbl_notice  
		set hit = hit + 1
		where no = #{no}
	</update>

	<!-- 게시글 수정 처리 -->
	<update id="update">
		update tbl_notice
		set title = #{title},
		content =
		#{content}
		where no = #{no}
		set TITLE = #{TITLE},
		CONTENT = #{CONTENT}
		where NO = #{NO}
	</update>

	<!-- 게시글 삭제 처리 -->
	<delete id="delete">
		delete from tbl_notice
		where no =#{no}
	</delete>

	<!-- 게시글 페이징 처리하기 -->
	<select id="getListWithPaging" resultType="NoticeVO">
		<![CDATA[
			select 
				no,title,content,reg_date,hit
			from (
				select /*+INDEX_DESC(tbl_notice pk_tbl_notice) */
				rownum rn, no,title,content,reg_date,hit from tbl_notice
			where rownum <= #{pageNum} * #{amount}
			)
			where rn>(#{pageNum}-1) * #{amount}
			]]>
	</select>
	
	<!--  게시글 총 개수 구하기 -->
	<select id ="totalCount" resultType ="int">
		select count(*) from tbl_notice where no>0
	</select>

</mapper>