<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">

	<!-- 상품정보 등록 -->
	<insert id="regist" parameterType="productVO">
		insert into tbl_product values(
			seq_product_code.nextval,
			#{name},
			#{high_code},
			#{low_code},
			#{price},
			0,
			0,
			0,
			#{file_path},
			#{file_name},
			#{product_comment}
		)
	</insert>
	
	<!-- 상품코드 조회 -->
	<select id="setCode" parameterType="String" resultType="int">
		select code from tbl_product
			where name = #{name}
	</select>
	
	<!-- 상품디테일 등록 -->
	<insert id="product_detail_regist" parameterType="productdetailVO">
		insert into tbl_product_detail values(
			seq_product_detail_no.nextval,
			seq_product_code.currval,
			#{product_color},
			#{product_size},
			#{product_stock}
		)
	</insert>
	
	
	<!-- 상위카테고리 상품리스트 -->
	<select id="highCateList" parameterType="int" resultType = "productVO">
		select * from tbl_product
			where high_code = #{high_code}
	</select>
	
	<!--상품 코드로 정보 조회 -->
	<select id="getView" parameterType="int" resultType = "productVO">
	SELECT
		code, name, high_code, low_code, price, sale_count, grade, wish_count, file_path, file_name, product_comment
	FROM
		tbl_product
	WHERE
		code = #{code}
	</select>
	
	<!-- 상품 코드로 디테일 정보 조회 -->
	<select id="getDetailView" parameterType="int" resultType = "productdetailVO">
	SELECT
		no, product_code, product_color, product_size, product_stock
	FROM
		tbl_product_detail
	WHERE
		product_code = #{product_code}
	</select>
	
	<!-- 해당 상품의 색상을 중복 없이 조회 -->
	<select id="getProductColor" resultType="String">
		SELECT
			distinct product_color 
		FROM
			tbl_product_detail 
		WHERE
			product_code = #{product_code}
	</select>
	
	<!-- 해당 상품 색상의 사이즈를 조회 -->
	<select id="getProductSize" resultType="String">
		SELECT
			product_size
		FROM
			tbl_product_detail
		WHERE
			product_code = #{product_code} 
			<if test="product_color != null">
				AND product_color = #{product_color}
			</if>
			<if test="product_color == null">
				AND product_color is null
			</if>
	</select>
</mapper>







