<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	<insert id="regist" parameterType="productVO">
		insert into tbl_product values(
			seq_product_code.nextval,
			#{name},
			#{high_code},
			#{low_code},
			#{price},
			0,
			0,
			0,
			#{file_path},
			#{file_name},
			#{product_comment}
		)
	</insert>
	
	<select id="setCode" parameterType="String" resultType="int">
		select code from tbl_product
			where name = #{name}
	</select>
	
	<insert id="product_detail_regist" parameterType="productdetailVO">
		insert into tbl_product_detail values(
			seq_product_detail_no.nextval,
			#{product_code},
			#{product_color},
			#{product_size},
			#{product_stock}
		)
	</insert>
	
	<!-- <select id = "getCode" parameterType="productVO" resultType="productVO">
		select * from tbl_product
			where code = #{code}
	</select> -->
	<!-- 
	<select id="getIntCode" parameterType="productVO" resultType="int">
		select code from tbl_product
			where code = #{code}
	</select>
	
	<select id="getListCode" parameterType="productVO" resultType="productVO">
		select * from tbl_product
			where code = #{code}
	</select> -->
</mapper>
