<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.moseory.mapper.QnaMapper">

	<sql id="criteria">	
		<trim prefix="(" suffix=") AND" prefixOverrides="OR">
			<foreach item="type" collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'W'.toString()">
							member_id like '%' || #{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<!-- 페이징처리하여 QnA List 조회 -->
	<select id="getListWithPaging" resultType="QnaVO">
	<![CDATA[
	SELECT
	    no, member_id, product_code, title, content, reg_date, hit, ref, depth, step, pno, answer, secret
	FROM
	    (SELECT
	        /*+ INDEX_DESC(tbl_qna pk_tbl_qna) */
	        rownum rn, no, member_id, product_code, title, content, reg_date, hit, ref, depth, step, pno, answer, secret
	    FROM
	        tbl_qna 
	    WHERE
	]]>
	<include refid="criteria"></include>
	<![CDATA[
	        rownum <= #{pageNum} * #{amount}
	    )
	WHERE
	    rn > (#{pageNum} - 1) * #{amount}
	]]>
	</select>
	
	<!-- QnA 개수 -->
	<select id="getQnaCount" resultType="int">
	SELECT
		count(*)
	FROM
		tbl_qna
	WHERE
		<include refid="criteria"></include>
		no > 0
	</select>
	
	<!-- QnA 등록 -->
	<insert id="insertQna">
	INSERT INTO tbl_qna(no, member_id, product_code, title, content, ref, secret)
	VALUES(seq_qna_no.nextval, #{member_id}, #{product_code}, #{title}, #{content}, seq_qna_no.currval, #{secret})
	</insert>
	
	<!-- QnA 번호를 이용하여 조회 -->
	<select id="getQna" resultType="QnaVO">
	SELECT
	    no, member_id, product_code, title, content, reg_date, hit, ref, depth, step, pno, answer, secret
	FROM
	    tbl_qna
	WHERE
	    no = #{no}
	</select>
</mapper>

















