<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<!-- insert, update 시 NULL허용 컬럼에 NULL값 데이터 들어갈 수 있도록 설정 -->
 	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<typeAlias alias="MemberVO" type="com.moseory.domain.MemberVO" />
		<typeAlias alias="NoticeVO" type="com.moseory.domain.NoticeVO" />
		<typeAlias alias="ReviewVO" type="com.moseory.domain.ReviewVO" />
		<typeAlias alias="QnAVO" type="com.moseory.domain.QnAVO" />
		<typeAlias alias="WishListVO" type="com.moseory.domain.WishListVO" />
		<typeAlias alias="AddedOrderInfoVO" type="com.moseory.domain.AddedOrderInfoVO"/>
		<typeAlias alias="CartVO" type="com.moseory.domain.CartVO" />
		<typeAlias type="com.moseory.domain.ProductVO" alias="productVO" />
		<typeAlias type="com.moseory.domain.ProductDetailVO" alias="productdetailVO" />
		<typeAlias alias="HighCateVO" type="com.moseory.domain.HighCateVO" />
		<typeAlias alias="LowCateVO" type="com.moseory.domain.LowCateVO" />
		
		<typeAlias type="com.moseory.typeHandler.LevelEnumTypeHandler" />
	</typeAliases>
	
	<typeHandlers>
		<typeHandler javaType="com.moseory.domain.Level" jdbcType="NUMERIC" handler="com.moseory.typeHandler.LevelEnumTypeHandler"/>
	</typeHandlers>
	
</configuration>